<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>BEConnect</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="/img/logo.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="static-files/css/normalize.css">
        <link rel="stylesheet" href="static-files/css/master.css">
        <link rel="stylesheet" href="static-files/css/submaster.css">
        <link rel="stylesheet" href="static-files/css/business-profile-page.css">
    </head>
    <body>
        <div class="nav-div fixed-top" id="navigation-div">
            <nav class="navbar navbar-expand-md navbar-light my-nav-bg">
                <a class="navbar-brand" href="index.html">
                    <img class="img-fluid" src="static-files/img/logo/blogo.png" alt="logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-navicon"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ml-auto">
                        <a class="nav-item nav-link active" href="index.html">Home</a>
                        <a class="nav-item nav-link" href="catalogue.html">Businesses</a>
                        <a class="nav-item nav-link" href="UserProfile.html">Login</a>
                        <a class="nav-item nav-link" href="signup.html">Sign Up <span class="sr-only">(current)</span></a>
                    </div>
                </div>
            </nav>
        </div>
        <div class="first-element-after-nav-margin-top">
            <div class="business-profile">
                <div class="business-profile-tint container-fluid">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="business-logo-wrapper div-thumbnail-round my-4 mx-auto">
                                <img class="img-fluid" src="static-files/img/content/businesses/logo/pepsi.png" alt="Business Logo">
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="business-info">
                                <div class="business-name">
                                    <div class="text-center">
                                        <h1 class="pr-3">ES-Glamore International</h1>
                                        <p class="mantra">Glamour speaks</p>
                                    </div>
                                    <span class="rating-img"><img class="img-fluid" src="static-files/img/content/rating.png" alt=""></span>
                                </div>
                                <div class="business-details-div my-2">
                                    <div class="business-detail">
                                        <i class="fa fa-road"></i>
                                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor magna.</span>
                                    </div>
                                    <div class="business-detail">
                                        <i class="fa fa-phone"></i>
                                        <span>01 - 784 2346</span>
                                    </div>
                                    <div class="business-detail">
                                        <i class="fa fa-envelope"></i>
                                        <span>info@esglamourinternational</span>
                                    </div>
                                    <div class="business-detail">
                                        <i class="fa fa-globe"></i>
                                        <span>www.esglamourinternational</span>
                                    </div>
                                </div>
                                <div class="review-rating-div text-center mb-3">
                                    <a href="#">
                                        <div class="review-div mr-5">
                                            <span>29</span>
                                            <span class="review">Reviews</span>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="rating-div">
                                            <span>4.2</span>
                                            <span>Rating</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="sectional-div my-4">
                    <div class="sectional-heading">
                        <h4>About</h4>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <a href="#">Read more...</a>
                </div>
                <div class="sectional-div mb-4">
                    <div class="sectional-heading">
                        <h4>Recent Activities</h4>
                        <div class="recent-activities">
                            <a href="#"><span>David Moyes</span> left a review</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container py-4">
                <div class="row">
                    <div class="col-md-4">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="col-md-4">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="col-md-4">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
            </div>
            <div class="year text-center">
                <p class="m-0 py-2">copyright 2018</p>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js" integrity="sha256-FiZMk1zgTeujzf/+vomWZGZ9r00+xnGvOgXoj0Jo1jA=" crossorigin="anonymous"></script>
    </body>
</html>
