<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>BEConnect</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="/img/logo.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="static-files/css/normalize.css">
        <link rel="stylesheet" href="static-files/css/master.css">
        <link rel="stylesheet" href="static-files/css/index.css">
    </head>
    <body>
        <div class="cover">
            <div class="tint">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="index.html">
                        <img class="img-fluid" src="static-files/img/logo/wlogo.png" alt="logo">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-navicon"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav ml-auto">
                            <a class="nav-item nav-link active" href="index.html">Home <span class="sr-only">(current)</span></a>
                            <a class="nav-item nav-link" href="#">Businesses</a>
                            <a class="nav-item nav-link" href="login.html">Login</a>
                            <a class="nav-item nav-link" href="signup.html">Sign Up</a>
                        </div>
                    </div>
                </nav>
                <div class="search-area">
                    <div class="search-div container-fluid py-4">
                        <div class="form-container mx-auto">
                            <form class="form-row" method="GET">
                                <div class="col-md-0.5"></div>
                                <div class="col-md-0.5"></div>
                                <div class="col-md-0.5"></div>
                                <input class="form-control col-md-5 mr-2 my-2" type="search" placeholder="Search a business" aria-label="Search">
                                <input class="form-control col-md-3 mr-2 my-2" type="search" placeholder="Location" aria-label="Location">
                                <div class="col-md-2 ml-0 mr-2 my-2 px-0 text-center">
                                    <button class="btn btn-outline-success" type="submit">Search</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="search-result-container mx-auto py-3">
                        <div class="search-result-div mx-auto">
                            <a href="#">
                                <div class="row py-2 search-result">
                                    <div class="col-md-8">
                                        <h5>Some Company International</h5>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="rating-info text-right">
                                            <div class="rating-img mr-2">
                                                <img class="img-fluid pb-2" src="static-files/img/content/rating.png" alt="">
                                            </div>
                                            <span>4.2</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="row py-2 search-result">
                                    <div class="col-md-8">
                                        <h5>Me & You enterprise</h5>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="rating-info text-right">
                                            <div class="rating-img mr-2">
                                                <img class="img-fluid pb-2" src="static-files/img/content/rating.png" alt="">
                                            </div>
                                            <span>4.2</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="#">
                                <p class="see-more">See more...</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="trending-container py-3">
                <h1 class="text-center">Trending</h1>
                <div class="trending-div pt-2">
                    <div class="trending mb-3 p-4">
                        <a class="trending-item" href="#">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5>ES-Glamore International</h5>
                                </div>
                                <div class="col-md-2">
                                    <p>Fashion</p>
                                </div>
                                <div class="col-md-4">
                                    <div class="rating-info text-right">
                                        <div class="rating-img mr-2">
                                            <img class="img-fluid pb-2" src="static-files/img/content/rating.png" alt="">
                                        </div>
                                        <span>4.2</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <span>Lagos, Nigeria</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="trending mb-3 p-4">
                        <a class="trending-item" href="#">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5>Octacorp</h5>
                                </div>
                                <div class="col-md-2">
                                    <p>Technology</p>
                                </div>
                                <div class="col-md-4">
                                    <div class="rating-info text-right">
                                        <div class="rating-img mr-2">
                                            <img class="img-fluid pb-2" src="static-files/img/content/rating.png" alt="">
                                        </div>
                                        <span>4.2</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <span>Benue, Nigeria</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="trending mb-3 p-4">
                        <a class="trending-item" href="#">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5>ES-Hotels & Suites</h5>
                                </div>
                                <div class="col-md-2">
                                    <p>Hospitality</p>
                                </div>
                                <div class="col-md-4">
                                    <div class="rating-info text-right">
                                        <div class="rating-img mr-2">
                                            <img class="img-fluid pb-2" src="static-files/img/content/rating.png" alt="">
                                        </div>
                                        <span>4.2</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <span>Edo, Nigeria</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container py-4">
                <div class="row">
                    <div class="col-md-4">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="col-md-4">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="col-md-4">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
            </div>
            <div class="year text-center">
                <p class="m-0 py-2">copyright 2018</p>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
