.cover {
    background-image: url('../img/bg/index.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 90%;
}
.tint {
    background-color: rgba(0,10,80,.4);
    height: 100%;
}
.search-area {
    background-color: rgba(210,210,240,.3);
    margin: 10% 5% 5% 5%;
    height: 30%;
    border-radius: 10px;
    box-shadow: 1px 1px 10px .5px rgba(0,0,0,.4);
}
.search-div {
    height: 90%;
    background-color: rgba(0, 0, 60, .9);
    border-radius: 10px 10px 0 0;
    box-shadow: 1px 1px 10px .5px rgba(0,0,0,.4);
}
input {
    height: 50px;
    text-indent: 10px;
    font-size: 1.2rem !important;
    color: rgb(0, 20, 60);
    transition: .3s ease-in-out !important;
}
input::placeholder {
    font-style: italic;
}
input:focus {
    text-indent: 15px !important;
}
form button {
    min-width: 150px;
    height: 50px;
    font-size: 1.2rem !important;
    border-color: white !important;
    color: white !important;
}
form button:hover {
    background-color: white !important;
    border-color: rgb(0, 20, 60) !important;
    color: rgb(0, 20, 60) !important;
    font-weight: bold !important;
}
.search-result-container {
    background-color: rgba(0,0,40,.8);
    width: 100%;
    border-radius: 0 0 10px 10px;
}
.search-result-div {
    width: 90%;
}
.search-result-div a {
    color: white;
    text-decoration: none;
}
.search-result {
    border-top: 1px solid white;
    transition: .5s ease-in-out;
}
.search-result:hover {
    background-color: rgba(0,0,20,.5);
    border-top: 1px solid white;
}
.rating-img {
    display: inline-block;
    width: 100px;
}
.see-more {
    margin-top: 5px;
}
.trending-container h1::before, .trending-container h1::after {
    display: inline-block;
    content: "";
    border-top: 2px solid rgb(0,20,60);
    width: 30%;
    margin: .5rem 1rem;
}
.trending {
    box-shadow: 0px 0px 4px 0px grey;
    border-radius: 10px;
}
.trending:hover {
    background-color: rgba(0,10,40,.9);
    color: white;
}
.trending a {
    color: rgb(0,20,60);
    text-decoration: none;
}
.trending:hover .trending-item {
    color: white;
}
footer {
    background-color: rgb(20, 20, 20);
    color: grey;
}
.year {
    background-color: black;
}

@media screen and (max-width: 768px) {
    .search-area {
        height: 50%;
    }
    .rating-info {
        text-align: left !important;
    }
}
@media screen and (max-width: 576px) {
    .search-area {
    }
    input, form button {
        height: 40px;
    }
}
@media screen and (max-width: 510px) {
    .trending-container h1::before, .trending-container h1::after {
        display: none;
    }
}
