body, html {
    height: 100vh;
}
.cover {
    background-image: url('../img/bg/index.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}
.tint {
    background-color: rgba(0,10,80,.8);
    position: relative;
    height: 100%;
}
.login-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px .5px rgba(0,0,0,.4);
}
.logo-div img {
    width: 40%;
}
.form-container {
    border-top: 1px solid white;
}
input {
    height: 50px;
    text-indent: 10px;
    font-size: 1.2rem !important;
    color: rgb(0, 20, 60);
    transition: all .5s ease-in-out !important;
}
input::placeholder {
    font-style: italic;
}
input:focus {
    text-indent: 15px !important;
}
form button {
    min-width: 150px;
    height: 50px;
    font-size: 1.2rem !important;
    border-color: white !important;
    color: white !important;
}
form button:hover {
    background-color: white !important;
    border-color: rgb(0, 20, 60) !important;
    color: rgb(0, 20, 60) !important;
    font-weight: bold !important;
}

@media screen and (max-width: 600px) {
    input, form button {
        height: 40px;
    }
}
@media screen and (max-width: 500px) {
    .login-area {
        width: 90%;
    }
}
