body, html {
    min-height: 90vh;
}

/* Navigation */
.my-nav-bg {
    background-color: white;
}
.cover .navbar-nav a {
    color: white !important;
    font-size: 1.2rem;
}
.nav-div {
    box-shadow: 0 1px 10px -1px rgba(0,0,0,0.7);
}
.nav-div .navbar-nav a {
    color: rgb(0,20,60) !important;
    font-size: 1.2rem;
    font-weight: normal;
}
.navbar-nav a:hover {
    color: rgb(14,113,198) !important;
    transition: .2s ease-in-out;
}
.navbar-nav a:hover {
    transform: scale(1.2);
}
.navbar-brand img {
    max-width: 150px;
}
.navbar-brand img {
    width: 100%;
    height: auto;
}

/* User Navigation */
.user-nav {
    background-color: rgb(0,20,60);
}
.user-navbar {
    margin-right: 25px;
}
.user-navbar a {
    font-size: 1.2rem;
    color: white;
}
.user-navbar a span {
    font-size: 1.2rem;
    color: white;
}
.avatar {
    display: inline-block;
    width: 40px;
    border-radius: 1000px;
}
.avatar img {
    width: 100%;
    border-radius: 1000px;
}
.user-item {
    display: inline-block;
    font-size: 1.2rem;
    padding: 2px;
    line-height: 42px;
}
.dropdown-item {
    color: rgb(0,20,60) !important;
}
.dropdown-item:hover {
    background-color: rgb(0,20,60) !important;
    color: white !important;
}
.dropdown-menu {
    top: 12px !important;
    left: -120px;
}

/* Font Awesome */
.fa {
    font-size: 2rem;
    transition: all .3s ease-in-out;
}
.fa-bell, .fa-envelope {
    font-size: 1.4rem;
}
.fa:hover {
    transform: scale(1.2);
}

/* Form styling */
input {
    height: 50px;
    text-indent: 5px;
    font-size: 1.2rem !important;
    color: rgb(0, 20, 60);
    transition: all .1s ease-in-out !important;
}
input:focus {
    text-indent: 20px;
}
input::placeholder {
    font-size: 1rem !important;
    font-style: italic;
}
form button {
    min-width: 150px;
    height: 50px;
    font-size: 1.2rem !important;
    border-color: rgb(0, 20, 60) !important;
    color: rgb(0, 20, 60) !important;
}
form button:hover {
    font-weight: bold !important;
    background-color: rgb(0, 20, 60) !important;
    color: white !important;

}

/* Navigation forms styling */
.nav-search input, .nav-search button {
    height: 40px;
}
.nav-search button {
    min-width: 100px;
    border-color: rgb(0, 20, 60) !important;
    color: rgb(0, 20, 60) !important;
}
.nav-search button:hover {
    background-color: rgb(0, 20, 60) !important;
    color: white !important;
}

/* Table styling */
.table {
    display: table;
}

/* Footer styling */
footer {
    background-color: rgb(0,20,60);
    color: grey;
}
.year {
    background-color: black;
}

/* Specials */
.first-element-after-nav-margin-top {
    margin-top: 85px;
}
.no-decoration {
    text-decoration: none !important;
}
.mt-20 {
    margin-top: 12rem !important;
}
.div-thumbnail {
    border: 10px solid white;
}
.div-thumbnail-round {
    border: 10px solid white;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .user-navbar {
        margin: 0;
        text-align: center;
    }
}
