body, html {
    min-height: 90vh;
}
.cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.tint {
    background-color: rgba(0,10,80,.4);
    height: 100%;
}
.navbar-nav a {
    color: white !important;
    font-size: 1.2rem;
}
.navbar-brand img {
    max-width: 200px;
    height: auto;
}
.navbar-brand img {
    width: 100%;
    height: auto;
}
.fa {
    color: white;
    font-size: 2rem;
}
.fa:hover {
    transform: scale(1.2);
}
